<div class="popup-content" *ngIf="!app">
  Loading application details...
</div>

<div class="popup-content" *ngIf="app">
  <!-- TODO - Marcelo<div class="file-number">Crown Land File: {{app['clFile'] || '-'}}</div> -->
  <div class="file-number">FOM: {{app['cl_file'] || '-'}}</div>

  <!-- <div class="applicant-name">{{app['applicants'] | titlecase}}</div> -->
  <div class="applicant-name">{{app['client'] | titlecase}}</div>
  <div class="purpose">Proposed Forest Operations Map</div>

  <ul class="status-container">
    <li class="app-status"
      [ngClass]="{
        'amendment':       applicationService.isAmendment(app),
        'abandoned':       applicationService.isAbandoned(app),
        'under-review':    applicationService.isApplicationUnderReview(app),
        'review-complete': applicationService.isApplicationReviewComplete(app),
        'approved':        applicationService.isDecisionApproved(app),
        'not-approved':    applicationService.isDecisionNotApproved(app),
        'unknown':         applicationService.isUnknown(app)
      }">Proposed FOM
    </li>
    <li class="commenting-status"
      [ngClass]="commentPeriodService.isOpen(app.cpStatus) ? 'commenting-open':'commenting-closed'">
      {{commentPeriodService.getStatusStringLong(app.cpStatus)}}
    </li>
  </ul>

  <button class="app-link btn btn-primary" (click)="showDetails()">View Forest Operations Map Details</button>
</div>
