<div class="flex-panel">
  <div class="flex-panel__header">
    <h3 class="title">Find FOM</h3>
  </div>

  <div class="flex-panel__scroll">
    <div class="find-form">
      <div class="form-group">
        <label class="control-label">Enter licensee name</label>
        <input class="form-control gtm-filter-cl-file" type="number" id="clidDtidInput"
          (keydown.arrowup)="$event.preventDefault()"
          (keydown.arrowdown)="$event.preventDefault()"
          (keyup.enter)="applyAllFilters()"
          (mousewheel)="$event.preventDefault()"
          [(ngModel)]="crownLandOrDispositionIDFilter.filter.value" />
      </div>
      <div class="form-btns">
        <button class="btn btn-primary gtm-apply-filters find-btn-lg-device" type="button" title="Apply filters"
          (click)="applyAllFilters()">
          Find
        </button>
        <button class="btn btn-primary gtm-apply-filters find-btn-sm-device" type="button" title="Apply filters"
          (click)="applyAllFiltersMobile()">
          Find
        </button>
        <button class="btn btn-light" type="button" title="Clear filters"
          (click)="clear()">
          Clear
        </button>
      </div>
    </div>
    <section>
      <h3>What is a Licensee Name?</h3>
      <p>A licensee name is the name of the company performing the activity on the land base in British Columbia.<br>
        Enter all or part of the company name and the search will be performed based on whatever you enter.
        of Way tenures.</p>
    </section>

  </div>
</div>
